.child{
    padding: 20px;
    width: 780px;
    background-color: white;
    background: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    padding: 30px;
    width: 780px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

i {
    font-size: 20px;
    font-weight: bold;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) ;
    transform: translateY(-50%);
}

tr {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 0em;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2:hover {
    text-decoration-line: underline;
}

.pagination {
    width: 780px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

.yellow-btn {
  background-color: #fadb14;  
  color: white;               
  border-color: #fadb14;
  border-color: #fff566;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.yellow-btn:hover,
.yellow-btn:focus {
  background-color: #ffec3d; 
  border-color: #ffec3d;
}

.green-btn {
  margin-left: 19.25%;
  background-color: #52c41a;   
  color: white;                
  border-color: #52c41a;       
  border-color: #b7eb8f;       
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.green-btn:hover,
.green-btn:focus {
  background-color: #73d13d;   
  border-color: #73d13d;
}
