<div style="background-color: #F8F8F8; min-height: 91vh;">
<div style="padding-top: 10px;"></div>

<nz-card *ngIf="statistiques" style="width: 50%; text-align: center; margin: auto;">
   <div nz-card-grid [ngStyle]="gridStyle">
       <h3>Total de voiture ajoutées</h3>
       <h1>{{ statistiques.totalVoitures }}</h1>
   </div>
   <div nz-card-grid [ngStyle]="gridStyle">
       <h3>Total de voiture vendues</h3>
       <h1>{{ statistiques.nbVoitureVendues }}</h1>
   </div>
    <div nz-card-grid [ngStyle]="gridStyle">
       <h3>Total de voiture disponible</h3>
       <h1>{{ reste }}</h1>
   </div>
</nz-card>

<div style="margin-top: 10px;" class="child" *ngFor="let voiture of listeVoitures">
    <div nz-row>
        <div nz-col nzSpan="8">
          <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;" 
         [src]="'data:image/jpeg;base64,' + voiture.returnedImg" alt="profile">

        </div>

        <div nz-col nzSpan="16">
           <h2 style="cursor: pointer; color: #108EE9;">
            {{ voiture.marque }} - {{ voiture.nom }}
           </h2>
           <p>{{ voiture.description }}</p>
           <hr>
           <h5>
            Prix : <b>{{ voiture.prix }} €</b> - Couleur : <b>{{voiture.couleur}}</b> - Transmission :
            <b>{{ voiture.transmission }}</b> - Type : <b>{{ voiture.type }}</b> - Année : <b>{{ voiture.annee | date: 'yyyy'}}</b>
           </h5>
           <hr>
           <div style="float: right;">
              <button nzSize="small" *ngIf="!voiture.estVendu" nz-button nzType="primary"
              routerLink="/client/voiture/{{voiture.id}}/reserver">Faire une offre</button>
               <button nzSize="small" *ngIf="voiture.estVendu" nzDanger style="margin-left: 5px;" nz-button nzType="primary"
               nzType="primary" routerLink=""><span nz-icon nzType="check-circle" nztheme="outline"></span>  Vendu</button>
           </div>

        </div>
    </div>

</div>

</div>
