.update-voiture-container {
  display: flex;
  justify-content: center;
  padding-top: 15%; // ← adapte selon la hauteur de ta navbar
  padding-bottom: 40px; // optionnel pour l’espace en bas
}

body {
  padding-top: 70px; 
}

.parent{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top:8%;
}

.child{
    padding: 50px;
    width: 100%;
    max-width: 680px;
    background-color: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.imgDiv{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.profile-badge{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    height: 180px;
    width: 180px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 50px;
}

.upload-label{
    cursor: pointer;
}

.upload-icon{
    width: 70px;
    height: 35px;
    margin-top: 10px;
}

.login-form-button{
    margin-top: 20px;
    width: 100px;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}


.file-upload-container {
   display: flex;
 justify-content: center;
  align-items: center;
  margin-bottom: 20px; // espace sous l’image
  width: 100%;
}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
