<!-- Utilisateur non connecté -->
<div *ngIf="!isAdminLoggedIn && !isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div style="display: flex; align-items: center;">
      <!-- Icône voiture -->
      <span nz-icon nzType="car" nzTheme="outline" style="font-size: 32px; color: white; margin-right: 10px;"></span>
      <a style="color: white; font-size: 18px; font-weight: bolder;" routerLink="/login">
        Service Vente Voiture
      </a>
    </div>
    <div class="nav-links" style="position: absolute; margin-left: 80%;">
      <a nz-button nzType="link" routerLink="/inscription" routerLinkActive="active">Inscription</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Connexion</a>
    </div>
  </nz-header>
</div>

<!-- Admin connecté -->
<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div style="display: flex; align-items: center;">
      <!-- Icône voiture -->
      <span nz-icon nzType="car" nzTheme="outline" style="font-size: 32px; color: white; margin-right: 10px;"></span>
      <a style="color: white; font-size: 18px; font-weight: bolder;" routerLink="/login">Admin</a>
    </div>
    <div class="nav-links" style="position: absolute; margin-left: 55%;">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/admin/reservation" routerLinkActive="active">Réservation</a>
      <a nz-button nzType="link" routerLink="/admin/recherche" routerLinkActive="active">Rechercher une Voiture</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Déconnexion</a>
    </div>
  </nz-header>
</div>

<!-- Client connecté -->
<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div style="display: flex; align-items: center;">
      <!-- Icône voiture -->
      <span nz-icon nzType="car" nzTheme="outline" style="font-size: 32px; color: white; margin-right: 10px;"></span>
      <a style="color: white; font-size: 18px; font-weight: bolder;" routerLink="/client/dashboard">Client</a>
    </div>
    <div class="nav-links" style="position: absolute; margin-left: 45%;">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/client/mes-voitures" routerLinkActive="active">Mes Voitures</a>
      <a nz-button nzType="link" routerLink="/client/mes-encheres" routerLinkActive="active">Mes Enchères</a>
      <a nz-button nzType="link" routerLink="/client/recherche-voiture" routerLinkActive="active">Rechercher une voiture</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Déconnexion</a>
    </div>
  </nz-header>
</div>

<!-- Outlet pour affichage des composants -->
<router-outlet></router-outlet>
